
.text-card-detail
    font-family: Courier New, Courier, monospace
    margin-bottom: 4px
   

.card-detail
    box-shadow: rgba(99, 99, 99, 0.2) 0.5px 12px 12px 0.5px
    border-radius: 20px
    justify-self: center
    background-color: rgba(99, 99, 99, 0.794) 
    padding: 20px 20px 
    color: white
    
.parent-inner
    display: inline-flex
    flex-direction: row 
  

.vert-inner
    flex-direction: column
    padding-inline-end: 40px
    
    

.container-detail-card
    position: absolute
    text-align: center
    align-items: center
    width: 50%
    padding: 10px 40px
    border-radius: 20px
    margin-right: -100%
    z-index: 1
    background-color: red
    

.card-btn
    position: relative
    font-size: 20px 
    border-radius: 20px
    cursor: pointer

.actions
    display: flex
    justify-content: space-between
    margin-right: 45px
    margin-left: 45px


.btn-del
    margin:3px
    cursor: pointer
    background: #c85a1a
    border-radius: 8px
    border: none
    color: white
    padding: 3px
    text-align: center
    font-size: 14px
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    color: whitesmoke
