@font-face

  font-family: 'alpha'
  src: url('./utils/alpha-webfont.woff'), format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: '3dumbregular'
  src: url('./utils/3Dumb-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal




$my-color: #1E679A

.log-form
  margin-top: -4px
  height: 80px
  margin-bottom: 10px


.main-load
  font-family: '3dumbregular'
